@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap') ;* {
    box-sizing: border-box;
    letter-spacing: none;
    text-decoration: none;
}

body {
    max-width: 100%;
    margin:0;
    font-family: Inter;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    font-size: 13px;
}

img {
    width: 100%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

body .main-top {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: rgba(84, 68, 46, 0.5);
    position: fixed;
    bottom: 3em;
    right: 1.5em;
    border-radius: 10px;
    z-index: 100;
}

body.main-top:hover {
    background-color: rgba(84, 68, 46, 0.9);
}

body .main-top i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}

nav {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-class {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav .toggle-btn {
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

nav .logo-img  {
    display: flex;
    flex-direction: row;
    margin: 2em;
    padding-top: 2em;
    gap: 15px;
}

nav .logo-img .fa-leaf {
    font-size: 40px;
    color: #686868;
    position: relative;
    top: 20px;
}

nav .logo-img p {
    font-size: 18px;
    position: relative;
    line-height: normal;
    text-align: left;
}

nav .logo-img h2 {
    font-size: 18px;
    color: #54442E;
    line-height: normal;
}

#main-nav li a {
color: #000;
display: flex;
font-size: 14px;
padding: 5px;
align-items: center;
right: 30px;
text-decoration: none;
margin: 0.5em;
z-index: 9999;
}

#main-nav li:hover {
z-index: 999;
}

#main-nav ul {
list-style: none;
display: flex;
}

#main-nav li {
width: 90%;
text-align: center;
justify-content: center;
position: relative;
}

#main-nav li:hover .submenu > li  {
display: block;
flex-direction: column;
top: 0px;
}

.submenu li {
display: none;
position: absolute;
top: 0px;
}

.submenu {
display: flex;
flex-direction: column;
position: absolute;
width: 100%;
background-color: #807050;
}

.submenu li a {
position: relative;
}

.arrow {
margin-left: 8px;
color: #eee;
font-size: 12px;
}

body main .section1 {
    position: relative;
    background-color: #54442e;
    color: #ffffff;
    margin: 2em 0em;
    padding: 0.5;
    display: -ms-grid;
    display: grid;
}

body main .section1 .back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(./the-flat-globe.jpg);
    background-color: rgb(160, 82, 45);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}

body main .section1 .column-1 {
    grid-column: span 12;
    font-size: Inter, sans serif;
    padding: 2em;
    font-weight: 300;
    text-align: center;
    z-index: 3;
    width: 100%;
}

body main .section1 .column-1 h1 {
    margin-bottom: 1em;
    font-size: 2em;
}

body main .section1 .column-2  {
    grid-column: span 12;
    width: 100%;
    z-index: 3;
    position: relative;
}

body main .section1 .column-2 li {
    display: flex;
}

body main .section1 .column-2 {
    width: 60%;
    margin: 1em auto;
    padding-top: 1.5em;
    align-items: left;
    padding: 5px;
    margin: 20px;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    gap: 10px;
}

.slider img {
    width: 100%;
    position: relative;
    width: 50rem;
    margin: 1.5em 0em;
    padding: 15px;
}

.slider {
    display: flex;
}


.slider-nav a:hover {
    opacity: 1;
}

body main .section1 .column-3 {
    grid-column: span 12;
    padding: 2em;
    width: 35%;
    height: 74%;
    margin-right: 0.5em auto;
    background-color: #54442E;
    margin-bottom: -20px;
    z-index: 3;
    position: absolute;
    right: 1em;
    bottom: -0.5em;
}

body main .section1 .column-3 h2 {
    border-bottom: 0.5px solid #8E7050;
    margin: 1em 0em;
    padding-bottom: 1em;
}

body main .section1 .column-3 form {
    text-align: center;
}

body main .section1 .column-3 form div {
    position: relative;
}

body main .section1 .column-3 form div .fa-solid {
    position: absolute;
    top: 16px;
    left: 5px;
    font-size: 25px;
    width: 10px;
    color: #54442E
}

body main .section1 .column-3 form input[type=text] {
    width: 100%;
    margin: 1em 0em;
    border-radius: 10px;
    border: 0px solid;
    padding: 0.5em 0em;
    background-color: #e3c390;
    color: #54442E;
}

body main .section1 .column-3 form input[type=submit] {
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px solid;
    padding: 0.3em;
    background-color: #8E7050;
    color: #ffffff;
    margin-top: 0.5em;
}

body main .section-2 {
    margin-top: -2em;
    background-color: #ececec;
    display: -ms-grid;
    display: flex;
}

body main .section-2 div {
    text-align: center;
    width: 90%;
    margin: 1em auto;
    padding-bottom: 3em;
    justify-content: space-between;
}

body main .section-2 div .fa-sterling-sign {
    color: #007AA0;
    font-size: 50px;
    margin-top: 1em;
} 

body main .section-2 div .fa-user {
    color: #76a442;
    font-size: 50px;
    margin-top: 1em;
}

body main .section-2 div .fa-bullhorn {
    color: #ff9900;
    font-size: 50px;
    margin-top: 1em;
}

body main .section-2 div .fa-signal {
    color: #a081aa;
    margin-top: 1em;
    font-size: 50px;
}

body main .section-2 div h3 {
    font-size: 1.5em;
    color: #8e7050;
    margin-top: 0;
}

body main .section-2 div p {
    margin: 1em 0em;
    text-align: center;
    font-size: 1em;
    
}

body main .section-2 .column-1 {
    grid-column: span 12;
}

body main .section-2 .column-2 {
    grid-column: span 12;
}

body main .section-2 .column-3 {
    grid-column: span 12;
}

body main .section-2 .column-4 {
    grid-column: span 12;
}

body main .section-3 {
    display: flex;
    justify-content: space-between;
    padding: 4em 1em;
    gap: 30px;
}

body main .section-3 .column {
    width: 30%;
}

body main .section-3 a {
    color: #e9b977;
    text-decoration: none;
}

body main .section-3 .column-1 img {
    width: 100%;
}

body main .section-3 .column h3 {
    font-size: 1em;
    margin: 0.8em 0em;
    color: #8E7050;
}

body main .section-3 .column-2 p {
    text-align: left;
    border-width: 1px;
}

body main .section-3 .column .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 0.8em;
}

body main .section-3 .column .info span {
    margin-right: 0.5em;
}

.section-3 .column-1 .fa-solid {
    font-size: 1.em;
}

body main .section-3 .column button {
    width: 100px;
    padding: 0.4em 0em;
    border-radius: 5px;
    border: 0em;
    background-color: #8E7050;
    color: #ffffff;
    margin: 1em 0em;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
}

body main .section-3 .column button:hover {
    background-color: #54442E;
}

body main .section-3 .column-3 {
    width: 50%;
}

body main .section-3 .column-3 .box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #54442E;
    color: #ffffff;
    padding: 1.5em;
    margin-bottom: 2em;
    text-decoration: none;
}

body main .section-3 .column-3 .box a p {
    display: inline;
    margin-top: 0;
}

body main .section-3 .column-3 .box a .fa-solid {
    width: 40px;
    font-size: 60px;
    margin-right: 0.3em;
    display: inline;
}

body main .section-3 .column-3 .box a h2 {
    color: #8e693c;
    font-size: 1.5em;
    display: inline;
    margin-bottom: 0;
} 

body main .section-3 .column-3 .box a:hover {
    background-color: #704e2e;
    color: #ffffff;
}

body main .section-3 .column-3 .box a:hover h2 {
    color: #54442E;
}

body main .section-4 {
    background-color: #ececec;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.column-1 {
    grid-column: span 12;
    width: 50%;
}

.leaf-2 {
    display: flex;
    width: 100%;
    gap: 30px;
    
}

.leaf-box {
    padding-top: 7px;
    display: flex;
    margin: 2em 0em; 
}


body main .section-4 .column-1 .leaf-box .fa-leaf {
    width: 50px;
    font-size: 40px;
    margin-right: 11px;
    margin-top: 6px;
    color: #686868;
}


.column-1 h2 {
    margin: 1em 0em;
    color: #686868;
}

.text-column-1 {
    color: #686868;
    width: 50%;
}

.text-column-1 p {
    color: #000000;
}

.group {
    width: 40%;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.group-1 {
    width: 50%;
}

.group .group-1 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    padding-top: 100px;
}


.column-1 div p  {
    margin: 1em 0em;
}

.column-2 {
    columns: 25%;
    width: 20%;
}

body main .section-4 .column-2 .info-box {
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 60px;
    padding-top: 9px;
    margin: 2em 0em;
    text-align: center;
}

body main .section-4 .column-2 .info-box .fa-info {
    width: 50px;
    font-size: 45px;
}

body main .section-4 .column-2 form input[type=text] {
    width: 100%;
    margin: 1em 0em;
    border-radius: 10px;
    border: 0;
    padding: 0.5em;
    border: none;
}

body main .section-4 .column-2 form input[type=submit] {
    width: 80px;
    border-radius: 10px;
    padding: 0.5em;
    background-color: #8E7050;
    color: #ffffff;
    border: 0;
}

body main .section-4 .column-2 .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body main .section-4 .column-2 .social-media div {
    margin: 0em 0.1em;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    padding: 7px;
    display: inline;
    -webkit-transitions: 500ms;
    transition: 500ms;
    background-color: #E1E0DF;
    text-align: center;
}

.social-media div:hover {
    background-color: #54442E;
    color: #ffffff;
}

body main .section-4 .column-2 .social-media div span {
    font-size: 16px;
}

.section-4 .column-2 .social-media div:hover {
    background-color: #54442E;
    color: #ffffff;
}

.section-4 .column-3 {
    width: 20%;
}

.section-4 .column-3 .telephone {
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 60px;
    padding-top: 9px;
    margin: 2em 0em;
    text-align: center;
}

.section-4 .column-3 .telephone span {
    width: 50px;
    font-size: 40px;
    border-radius: 40px;
}

body main .section-4 .column-3 h3 {
    margin: 1em 0em;
    font-size: 16px;
}

body main .section-4 .column-3 div {
    margin: 1em 0em;
}

body main .section-4 .column-3 .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
}

body main .section-4 .column-3 .schedule .fa-clock {
    width: 15%;
    margin-right: 0.5em;
}

body main .section-4 .column-3 .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.7em 0em;
}

body main .section-4 .column-3 .phone .fa-phone {
    margin-right: 0.2em;
}

body footer {
    background-color: #242424;
    color: #ffffff;
    padding: 2em;
    margin-bottom: 2em;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body footer p {
    color: #686868;
}
body footer a {
    color: #8e693c;
}

body footer a:hover {
    color: #8e6436;
    text-decoration: none;
}

body footer .donate {
    color: #8e6436;
    font-size: 30px;
    height: 20px;
    margin: 1em 0em;
    align-items: right;
    justify-content: right;
}

body footer .donete .fa-angle-right {
    width: 15px;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }

    body main .section1 {
        width: 100%;
    }

    .section1 .column-1 {
        grid-column: span 12;
        font-size: Inter, sans serif;
        padding: 2em;
        line-height: 24px;
        width: 100%;
    }

    .section1 .column-1 {
        margin-bottom: 1em;
    }

    body main .section-2 {
        display: flex;
        flex-direction: column;
    }

    body main .section-3 {
        display: flex;
        flex-direction: column;
    }

    body main .section1 .column-2 {
        width: 100%;
    }

    body main .section1 .column-3 {
        grid-column: span 4;
        padding: 2em;
        width: 90%;
        height: 45%;
        margin: 0.5em 0em;
        background-color: #54442E;
        margin-bottom: -20px;
    }

    body main .section-4  {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    body main .section-4 .column-1 .group img {
        width: 100%;
    }

    body main .section-4 .column-1 h2 {
        margin: 1em 0em; 
        display: flex;
        flex-direction: column;
        float: left;
    }

    body main .section-3 .column-1 {
        grid-column: span 12;
        width: 100px;
    }
    
    body main .section-3 .column-1 p {
        width: 100%;
    }
    
    body main .section-3 .column-2 p {
        width: 100%;
    }

    body .foot {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    body main .section-3 {
        display: flex;
        max-width: 100%;
    }
    
    body main .section-3 .column-1 {
        width: 100%;
    }

    body main .section-3 .column-2 {
        width: 100%;
    }

    body main .section-3 .column-3 {
        width: 100%;
    }

    body main .section-4 {
        width: 100%;
    }

    body main .section-4 .column-1 {
        width: 100%;
    }
    
    body main .section-4 .column-1 .leaf-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    body main .section-4 .column-1 .leaf-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    body main .section-4 .column-1 .leaf-2 .group-1 img {
        width: 100%;
    }

    .leaf-box {
        padding-top: 7px;
        display: flex;
        margin: 2em 0em;
        text-align: left;
    }

    .leaf-2 .group-1 {
        display: flex;
        width: 100%;
        gap: 30px;
    }

    .leaf-2 .text-column-1 {
        width: 100%;
    }

    .column-2 {
        width: 100%;
    }

    .column-3 {
        width: 100%;
    }

    .column-3 p {
        width: 100%;
    }
    
    body main .section1 .column-1 {
        grid-column: span 12;
        font-size: Inter, sans serif;
        padding: 2em;
        font-weight: 300;
        text-align: center;
        z-index: 3;
        width: 100%;
        height: 900px;
    }

    body main .section1 .back {
        position: absolute;
        top: 0;
        width: 100%;
        height: 1100px;
        z-index: 1;
        background-image: url(./the-flat-globe.jpg);
        background-color: rgb(160, 82, 45);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.1;
    }

    .slider img {
        width: 100%;
        top: 35%;
        height: 20%;
        position: absolute;
        margin: 2em 0em;
        padding: 15px;
    }

    body main .section-2 {
        margin: 2em 0em;
    }

    nav .menu-class {
        display: none;
    }

    nav .toggle-btn {
        display: block;
        margin: 2em 1em;
    }

    .col-text {
        width: 300px;
    }

    nav .logo-img p {
        font-size: 14px;
        position: relative;
        line-height: normal;
        text-align: left;
    }
    
    nav .logo-img h2 {
        font-size: 14px;
        color:#54442E;
        line-height: normal;
    }

    #main-nav ul {
        display: none;
    }
}
